<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset name='general' addfieldpath="/administrator/components/com_rsg2/models/fields">

		<field
			name			= "Version"
			type			= "text"
			label           = "COM_RSGALLERY2_VERSION"
			description     = ""
			maxlength       = "250"
			filter          = ""
			size            = "60"
		/>
				
    </fieldset>	
</form>


